.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.mypy_cache/
.pytest_cache/
train_output.txt
predict_output.txt

# Jupyter
*.nbconvert.ipynb

# IDE
.vscode/

# Allow tracked model artifact
!models/
!models/*.pkl
